---
import Base from "@layouts/Base.astro"

const title = "404"
const description = "The page you're looking for does not exist..."
---
<Base {title}>
  <div class="bg-light p-5 rounded mt-3">
    <h1>{title}</h1>
    <p class="lead">{description}</p>
  </div>
</Base>